 .u-section-1 {
  background-image: none;
  min-height: 1321px;
}

.u-section-1 .u-text-1 {
  margin: 60px calc(((100% - 1140px) / 2) + 307px) 0 calc(((100% - 1140px) / 2) + 308px);
}

.u-section-1 .u-text-2 {
  margin: 11px calc(((100% - 1140px) / 2) + 307px) 0 calc(((100% - 1140px) / 2) + 308px);
}

.u-section-1 .u-image-1 {
  height: 790px;
  margin-top: 349px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 848px;
  margin: -1059px auto 60px calc(((100% - 1140px) / 2) + 146px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-1 .u-text-3 {
  font-family: Allerta;
  margin: 0 18px;
}

.u-section-1 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-1 .u-icon-3 {
  margin-top: 208px;
}

.u-section-1 .u-icon-4 {
  width: 16px;
  height: 21px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 30px auto 0 18px;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 470px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-family: Allerta;
  margin: 0;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 207px);
    margin-left: calc(((100% - 940px) / 2) + 208px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 207px);
    margin-left: calc(((100% - 940px) / 2) + 208px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }

  .u-section-1 .u-social-icons-1 {
    width: 92px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1582px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 307px);
    margin-left: calc(((100% - 1140px) / 2) + 308px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 307px);
    margin-left: calc(((100% - 1140px) / 2) + 308px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 550px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1260px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1569px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1555px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}